body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

/* 🔴 TOPBAR */
.topbar {
  background: white;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
}

/* 🔴 MAIN */
.main {
  padding: 30px;
}

/* 🔥 FORM */
.form-box {
  background: white;
  padding: 25px;
  border-radius: 15px;
  max-width: 900px;
  margin: auto;
}

/* grid */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

label {
  font-size: 13px;
  color: #555;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* textarea */
textarea {
  height: 100px;
  resize: none;
}

/* upload */
.upload-box {
  border: 2px dashed #ccc;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.upload-box i {
  font-size: 25px;
  color: #999;
}

/* status */
.status-box {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

/* buttons */
.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel {
  background: #ddd;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
}

.save {
  background: #a80000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
}